<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video call</title>
    <script src="assets/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="assets/styles.css"></script>
    <script src="//sdk.twilio.com/js/video/releases/2.15.3/twilio-video.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="container-voice  hidden-first">
        <div class="avatar-calling">
          <img class="avatar" src="assets/avatar.png" alt="Avatar">
        </div>
        <div class="text-calling">
          <h4>Đang gọi ...</h4>
        </div>
      </div>
      <div class="container-video">
        <div class="remote-video">
        <div id="remote-video"></div>
        <!-- <img src="assets/avatar.png" alt="Avatar" width="100%" height="90%"> -->
      </div>
      <div class="local-video">
        <div id="local-video"></div>
      </div>
      </div>
      <div class="group-button">
        <button type="button" id="mute"><span style="font-size: 30px;" class="iconify" data-icon="mdi:microphone"></span></button>
        <button type="button" id="unmute" class="hidden-first"><span style="font-size: 30px;" class="iconify" data-icon="mdi:microphone-off"></span></button>
        <button type="button" id="hangup"><span style="font-size: 40px;" class="iconify" data-icon="mdi:phone-hangup"></span></button>
        <button type="button" id="media" ><span style="font-size: 30px;" class="iconify" data-icon="bx:bxs-video"></span></button>
        <button type="button" id="unmedia" class="hidden-first"><span style="font-size: 30px;" class="iconify" data-icon="bx:bxs-video-off"></span></button>
      </div>
    </div>
  </body>
  <script>
    const Video = Twilio.Video;
  </script>
  <script src="assets/video.js"></script>
</html>
