body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0;
  max-width: 100%;
  height: 640px;
  position: relative;
}

.container-video {
  padding: 0;
  max-width: 100%;
  height: 640px;
  position: relative;
}

.remote-video {
  height: 50%;
  width: 100%;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
}

#remote-video video {
  width: auto;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
}

.local-video {
  height: 50%;
  width: 100%;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
}

#local-video video {
  width: auto;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
}

.group-button {
  width: 100%;
  height: 95px;
  border-color: black;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#mute {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

#unmute {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

#hangup {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-left: 33px;
  margin-right: 33px;
}

#media {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

#unmedia {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.hidden-first {
  display: none;
}

.container-voice {
  padding: 0;
  max-width: 100%;
  height: 640px;
  position: relative;
  background-image: linear-gradient(blue, purple);
}

.avatar-calling {
  width: auto;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.text-calling {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
